<div class="input-group">
    <input type="text" id="totalVentas" name="totalVentas" class="form-control text-end" style="border: none !important;" ng-model="totalVentas" readonly>
    <span>&nbsp;venta(s)</span>
</div>
<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Fecha Hora</th>
                <th>Pago</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodyVentas"></tbody>
    </table>
</div>

<div class="div-to-complete-screen"></div>
